# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore dataset files (optional - keep only samples)
data/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore model binaries
*.joblib
*.pkl
